body {
  background-image: url('Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #cccccc; /* Fallback color if image fails to load */
	padding: 0;
	margin: 0;
}

.photowall{
	width: 100%;
	height: 100%;
  object-fit: contain;
  object-position: center;
}

.main-div{
  margin: 0;
  padding: 0;
  display: flex;
  gap:0;
  height: 100vh;
}

.outline-div{
  flex: 1.7;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 30px;
}

.outline{
  font-family: "IBM Plex Serif", serif;
  font-size: 17px;
  line-height: 2.1;
}

.gallery-div{
  flex: 8.3; 
  padding: 10px;
  padding-left: 0px;
  margin: 0;
}